body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:fixed;
    left:-3px;
    top:0px;
    width:224px;
    height:5711px;
    overflow:hidden;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:224px;
    height:5711px;
    
}

.u1_normal {
    background-image: url('../Page_1_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:2px;
    top:55px;
    width:220px;
    height:5655px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:5661px;
}

.u2 {
    position:absolute;
    left:2px;
    top:2820px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:55px;
    top:85px;
    width:109px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:55px;
    top:123px;
    width:109px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:55px;
    top:167px;
    width:109px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Page_1_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:3px;
    top:0px;
    width:76px;
    height:54px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:60px;
}

.u7 {
    position:absolute;
    left:2px;
    top:19px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Page_1_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:45px;
    top:0px;
    width:178px;
    height:55px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:178px;
    height:55px;
}

.u9 {
    position:absolute;
    left:2px;
    top:20px;
    width:174px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Page_1_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:1px;
    width:50px;
    height:50px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u11 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Page_1_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:23px;
    top:125px;
    width:20px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Page_1_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:25px;
    top:85px;
    width:16px;
    height:16px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u15 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Page_1_files/u14_normal.png');
}

.u16_container {
    position:absolute;
    left:25px;
    top:168px;
    width:16px;
    height:16px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u17 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:296px;
    top:38px;
    width:320px;
    height:37px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Page_1_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:238px;
    top:36px;
    width:48px;
    height:51px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:51px;
}

.u20 {
    position:absolute;
    left:2px;
    top:18px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:244px;
    top:128px;
    width:166px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:270px;
    top:163px;
    width:830px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Page_1_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:244px;
    top:232px;
    width:778px;
    height:648px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:778px;
    height:648px;
}

.u24 {
    position:absolute;
    left:2px;
    top:316px;
    width:774px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Page_1_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:270px;
    top:550px;
    width:752px;
    height:311px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:758px;
    height:317px;
}

.u26 {
    position:absolute;
    left:2px;
    top:148px;
    width:748px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:290px;
    top:577px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Page_1_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:290px;
    top:626px;
    width:60px;
    height:61px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:61px;
}

.u29 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:359px;
    top:658px;
    width:650px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:360px;
    top:771px;
    width:650px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Page_1_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:290px;
    top:736px;
    width:60px;
    height:58px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:58px;
}

.u33 {
    position:absolute;
    left:2px;
    top:21px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:360px;
    top:629px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:360px;
    top:739px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Page_1_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:294px;
    top:846px;
    width:53px;
    height:50px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:53px;
    height:50px;
}

.u37 {
    position:absolute;
    left:2px;
    top:17px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:360px;
    top:878px;
    width:650px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:360px;
    top:846px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Page_1_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:299px;
    top:956px;
    width:51px;
    height:42px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:51px;
    height:42px;
}

.u41 {
    position:absolute;
    left:2px;
    top:13px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:360px;
    top:986px;
    width:650px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:360px;
    top:954px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Page_1_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:307px;
    top:1064px;
    width:39px;
    height:62px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:39px;
    height:62px;
}

.u45 {
    position:absolute;
    left:2px;
    top:23px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:360px;
    top:1092px;
    width:650px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:360px;
    top:1060px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Page_1_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:299px;
    top:1165px;
    width:55px;
    height:55px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:55px;
    height:55px;
}

.u49 {
    position:absolute;
    left:2px;
    top:20px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:360px;
    top:1195px;
    width:650px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:360px;
    top:1163px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

