.container{
	padding: 20px;
	padding-top: 46px;
}
.els-height{
	margin: 20px 0 5px 0;
}


/* tip 提示 */
.ui-msg{
	/* display:block; */
	font-size: 15px;
	margin-top:10px;
}
.ui-msg-alert{
	margin: 0 auto;
}

/*  btn 行居中  */
.btn-style{
	text-align:center;
}

/* 手动指定 btn 宽度 */
.self-width{
	width:105px;
}

.longt-input{
	width: 300px;
	height:20px;
}
.title-color{
	color: #17CCBA;
	text-align:center;
	font-size:15px;
}

/* 活动媒体描述 容器 vs 单个  */
.media-container{
	overflow:hidden;
	
}
.one-media{
	float:left;
	margin:20px;
	padding-right:10px;
	padding-bottom:10px;
	border: 1px solid #EBEBEB;
}
.one-media h3{
	margin:15px 0;
}
.one-media .ui-form-field{	   
    padding-left: 90px;
}

.one-media .ui-form-field textarea{	
    width: 450px;
    height: 120px;
}




/* 步骤3 确认页面 样式 */
.over-hide{
	overflow: hidden;
}

.cat-span{
	margin:0 2px;
}