.iner-body{
	padding: 20px;
	padding-top: 46px;
}


.margin-top20{
	margin-top: 20px;
}
.margin-top50{
	margin-top: 50px;
}

.shortbtn{
	padding:2px !important;
}
.right-align{
	float: right;
}

.text-agncener{
	text-align: center;
}

/* 查询样式 */
.search-index{
	margin-top:20px;
	margin-left: 5px;
	padding-left:85px;
}
.lab-cls{
	margin-left: -85px;
}
.large-inpt{
	width:200px;
}




/* 控件样式 */

/* 外容器 */
.select-data-container{
	width:auto!important;
	min-width:1050px;
	max-width:1100px;
	margin:0 auto;
	max-height:700px;
	margin-top:25px;
	overflow: hidden;
}

.ui-table tbody td, .ui-table thead th{
	padding: 8px;
}

/* tr选中样式 */
.selected-tr td{
	background-color: #E0EAFD;
}

/*tr选中 删除 样式*/
.delete-tr td{
	/*background-color: gray; */
}

/*左右表格容器*/
.main-table-container, .select-talbe-container{
	width: 45%;
	height: 100%;
	float: left;
	border-radius: 5px;
	overflow:hidden;
	position: relative;
}
.main-table-container{
	border: 1px solid red;	
}
.table-container{
	margin: 0 5px;
	max-height: 490px;
	margin-top:10px;
	overflow:auto;
}
.selet-table-container{
	height: 512px;
}


.tr-opraition-btn{
	margin: 0 5px;
	height: 100%;
	float: left;
}
.tr-opraition-btn .add-btn{
	margin-top:180px; 
	margin-bottom: 50px;
}
.select-talbe-container{
	border: 1px dashed red;
	overflow:auto;
}
.dele-select-tall{

}

/*容器下的表格*/
.main-table-container table, .select-talbe-container table{
	overflow:hidden;
}

.main-table-container .ui-table td, .select-talbe-container .ui-table td,
.main-table-container .ui-table th, .select-talbe-container .ui-table th{
	padding:8px;
	overflow: hidden;
}

/* tr 选中样式 */
.grid-row-selected td{
	background-color: #ffede1;
}

/* tr 鼠标移动hover样式 */
.grid-row-over td{
	background-color: #DCF4F8;
}

/* 分页器样式 */
.page-container{
	margin: 3px 0;
	margin-right: 5px;
	overflow: hidden;
	float: right;
}
.page-container a:hover{
	text-decoration: none;
}

.skin-tb .pagination-start,
.skin-tb .pagination-prev,
.skin-tb .pagination-next,
.skin-tb .pagination-end{
	width: 36px;
	background: url(http://img04.taobaocdn.com/tps/i4/T1cP85XihuXXXXXXXX-13-101.png) no-repeat;
}

.skin-tb .pagination-start,
.skin-tb .pagination-prev,
.skin-tb .pagination-next,
.skin-tb .pagination-end,
.skin-tb .pagination-spec,
.skin-tb .pagination-curr,
.skin-tb .pagination-break{
	min-width: 15px;
	_width: 15px;
	border-left: 1px solid #E5E5E5;
	display: inline;
	float: left;
	height: 20px;
	line-height: 20px;
	padding: 0 3px;
	text-align: center;
	font-family: Tahoma,SimSun,Arial;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
}

.skin-tb .pagination-start, .skin-tb .pagination-curr{
	border: 1px solid #E5E5E5;
}

.skin-tb .pagination-start,
.skin-tb .pagination-prev,
.skin-tb .pagination-end{
	padding-left: 12px;
}
.skin-tb .pagination-start {	
	background-position: 5px 8px;
}
.skin-tb .pagination-prev {
	background-position: 0 -12px;
}

.skin-tb .pagination-curr {
	font-weight: 700;
	background-color: #E5E5E5;
}

.skin-tb .pagination-break {
	color: #c0c0c0;
	border: 0;
}

.skin-tb .pagination-next {
	padding-right:13px;
	background-position: 42px -50px;
}

.skin-tb .pagination-end {
	background-position: 47px -31px;
}

.skin-tb a {
	background-color: #fff;
	border: 1px solid #E5E5E5;
	color: #2953A6;
	cursor: pointer;
}

.skin-tb a:hover {
	background-color: #F3F2F2;
}


/* loading 遮罩 */
.loading-mask{
	position: absolute;
	width:100%;
	height:100%;
	background: #C7F4FA url("http://img02.taobaocdn.com/tps/i2/T115PmXipeXXaY1rfd-32-32.gif") center center no-repeat;	
	opacity: 0.3;
	z-index: 100;
}
