/**
 * -----------------------------------------------
 * 引入less全局定义变量和方法集合
 * -----------------------------------------------
 */
@import "../../../lpassert/css/less/variables.less"; 
@import "../../../lpassert/css/less/mixins.less";
//dialog
@dialogBorderColor:       @borderColor;
@dialogBackColor:         @backColor;

.lp-ext-mask {
    background-color: #000;
    .opacity(25);
}

.lp-contentbox{
	background-color:@dialogBackColor;
	.border-radius(2px);
	border:1px solid @dialogBorderColor;
	.box-shadow(inset 0px 0px 0px 1px @white);
	padding-bottom: 10px;
}
.lp-stdmod-header{
	height:22px;
	line-height:22px;
	font-size:12px;
	font-weight:bold;
	padding-left:4px;
	color:@grayDark;
	overflow:hidden;
	cursor: move;
	.user-select(none);
}
.lp-stdmod-body{
	padding: 0 35px 20px;
}

.lp-ext-close,.lp-message-icon{
	background:url(http://img03.taobaocdn.com/tps/i3/T1UGU0XgtbXXXrX3fj-180-60.png) no-repeat -9999px -9999px;
}


.lp-ext-close {
    height: 16px;
    width: 16px;
    line-height: 16px;
    right: 5px;
    top: 5px;
    vertical-align: middle;
    position: absolute;
    text-decoration: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    background-position:0 -30px;
}
.lp-ext-close .lp-ext-close-x {
	display:block;
    text-indent: -9999px;
}
.lp-message-icon{
	.inline-block();
	height:24px;
	width:24px;
	float:left;
}
.lp-message-info{
	background-position: 0px 0px;
}
.lp-message-right{
	background-position:-30px 0px;
}
.lp-message-warning{
	background-position:-60px 0px;
}
.lp-message-error{
	background-position:-90px 0px;
}
.lp-message-question{
	background-position:-120px 0px;
}
.lp-message-content{
	margin:5px 0 0 40px;
    line-height: 24px;
    font-weight:bold;
    font-size: 14px;
}
.lp-stdmod-footer{
	margin: 4px 0;
	text-align:center;
	.user-select(none);
}
.lp-stdmod-footer .mb-first{
	margin:0;
}
.lp-message-btn{
	.inline-block();
	padding: 2px 10px;
    *overflow:visible; //设置这个属性IE6/7下padding才会生效
    font-size: 12px;
    line-height: @baseLineHeight - 2px;
    height: 22px;
    color: @grayDark;
    text-align: center;
    font-weight: normal;
    vertical-align: middle;
    margin: 0;
    .buttonBackground(@btnBackground, @btnBackgroundHighlight);
    border: 1px solid @borderColor;
    .border-radius(@radius);
    @shadow: inset 0 0 2px rgba(255,255,255,.2), 0 0 2px rgba(0,0,0,.05);
    .box-shadow(@shadow);
    cursor: pointer;
    margin-left: 10px;
}
.lp-message-btn:first-child{
	.buttonBackground(@btnPrimaryBackground, @btnPrimaryBackgroundHighlight);
	border: 1px solid #382B8E;
	color: @white;
}