/**
 * -----------------------------------------------
 * 引入less全局定义变量和方法集合
 * -----------------------------------------------
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  /* Make inputs at least the height of their button counterpart */

  /* Makes inputs behave like true block-level elements */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.lp-ext-mask {
  background-color: #000;
  opacity: 0.25;
  filter: alpha(opacity=25);
}
.lp-contentbox {
  background-color: #e8e9ef;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #c3c3d6;
  -webkit-box-shadow: inset 0px 0px 0px 1px #ffffff;
  -moz-box-shadow: inset 0px 0px 0px 1px #ffffff;
  box-shadow: inset 0px 0px 0px 1px #ffffff;
  padding-bottom: 10px;
}
.lp-stdmod-header {
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  font-weight: bold;
  padding-left: 4px;
  color: #333333;
  overflow: hidden;
  cursor: move;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.lp-stdmod-body {
  padding: 0 35px 20px;
}
.lp-ext-close,
.lp-message-icon {
  background: url(http://img03.taobaocdn.com/tps/i3/T1UGU0XgtbXXXrX3fj-180-60.png) no-repeat -9999px -9999px;
}
.lp-ext-close {
  height: 16px;
  width: 16px;
  line-height: 16px;
  right: 5px;
  top: 5px;
  vertical-align: middle;
  position: absolute;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  background-position: 0 -30px;
}
.lp-ext-close .lp-ext-close-x {
  display: block;
  text-indent: -9999px;
}
.lp-message-icon {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  height: 24px;
  width: 24px;
  float: left;
}
.lp-message-info {
  background-position: 0px 0px;
}
.lp-message-right {
  background-position: -30px 0px;
}
.lp-message-warning {
  background-position: -60px 0px;
}
.lp-message-error {
  background-position: -90px 0px;
}
.lp-message-question {
  background-position: -120px 0px;
}
.lp-message-content {
  margin: 5px 0 0 40px;
  line-height: 24px;
  font-weight: bold;
  font-size: 14px;
}
.lp-stdmod-footer {
  margin: 4px 0;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.lp-stdmod-footer .mb-first {
  margin: 0;
}
.lp-message-btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 2px 10px;
  *overflow: visible;
  font-size: 12px;
  line-height: 16px;
  height: 22px;
  color: #333333;
  text-align: center;
  font-weight: normal;
  vertical-align: middle;
  margin: 0;
  background-color: #f4f4f4;
  background-image: -moz-linear-gradient(top, #ffffff, #e4e4e4);
  background-image: -ms-linear-gradient(top, #ffffff, #e4e4e4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e4e4e4));
  background-image: -webkit-linear-gradient(top, #ffffff, #e4e4e4);
  background-image: -o-linear-gradient(top, #ffffff, #e4e4e4);
  background-image: linear-gradient(top, #ffffff, #e4e4e4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e4e4e4', GradientType=0);
  border-color: #e4e4e4 #e4e4e4 #bebebe;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #c3c3d6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  margin-left: 10px;
}
.lp-message-btn:hover,
.lp-message-btn:active,
.lp-message-btn.active,
.lp-message-btn.disabled {
  background-color: #e4e4e4;
}
.lp-message-btn[disabled] {
  background-color: #e4e4e4;
}
.lp-message-btn:active,
.lp-message-btn.active {
  background-color: #cbcbcb \9;
}
.lp-message-btn:first-child {
  background-color: #3357cc;
  background-image: -moz-linear-gradient(top, #3366cc, #3340cc);
  background-image: -ms-linear-gradient(top, #3366cc, #3340cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3366cc), to(#3340cc));
  background-image: -webkit-linear-gradient(top, #3366cc, #3340cc);
  background-image: -o-linear-gradient(top, #3366cc, #3340cc);
  background-image: linear-gradient(top, #3366cc, #3340cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3366cc', endColorstr='#3340cc', GradientType=0);
  border-color: #3340cc #3340cc #242d8f;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #382B8E;
  color: #ffffff;
}
.lp-message-btn:first-child:hover,
.lp-message-btn:first-child:active,
.lp-message-btn:first-child.active,
.lp-message-btn:first-child.disabled {
  background-color: #3340cc;
}
.lp-message-btn:first-child[disabled] {
  background-color: #3340cc;
}
.lp-message-btn:first-child:active,
.lp-message-btn:first-child.active {
  background-color: #2933a3 \9;
}
