/**
 * -----------------------------------------------
 * 引入less全局定义变量和方法集合
 * -----------------------------------------------
 */
@import "variables.less"; 
@import "mixins.less";
@hrBorder:	#d8d8d8;
@radius:	2px;

/**
 * -----------------------------------------------
 * 全局样式定义
 * -----------------------------------------------
 */
html{
	*overflow:auto;
}
body,button,input,select,textarea{
	font-family: @baseFontFamily;
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
	color: @textColor;
}
body{
	padding: 20px 20px 0 20px;
	overflow: auto;
	*overflow:visible;
	_overflow-x:hidden;
}
/**
 * 超链接样式
 */
a:link{
	color: @linkColor;
	text-decoration: none;
}
a:visited{
	color: @linkColor;
}
a:hover{
	color: @linkColorHover;
}
a.outline{
	text-decoration: underline;
}
/**
 * 可视化表单元素默认样式
 */
input,button,select,textarea{
	font-size: 100%;
}
input[type="text"],textarea,select{
	.inline-block();
	border: 1px solid @inputBorder;
}
input[disabled]{
	color: #999;	
}
table {
  	border-collapse: collapse;
  	border-spacing: 0;
  	background-color: @tableBackground;
}
/**
 * 组定义
 */
.form-group{
	margin-top: 5px;
	clear:both;
}
.form-group-title{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
/**
 * 行容器样式定义
 */
.form-line{
	.clearfix();
}
.grid-container{
	margin-bottom:20px;
}
/**
 * 列样式定义
 */
.form-field-container{
	float: left;
	min-height:40px;
	_height:40px;
}
.page-detail .form-field-container{
	float: left;
	min-height: auto;
	_height:auto;
	margin-bottom: 20px;
}
.form-field-item,.form-field-item-long{
	min-width: 280px;
	_width: 280px;
}
.page-detail .form-field-item, .page-detail .form-field-item-long{
	width: 280px;
	margin-right: 10px;
}
/**
 * 列中label元素定义
 */
.form-field-label, .form-field-label-long{
	.inline-block();
	width: 125px;
	line-height: @baseLineHeight + 4px;
	height: 22px;
	float: left;
	text-align: right;
}
.form-field-label-long{
	width: 162px;
}
.page-detail .form-field-label{
	float:none;
	width: auto;
	text-align: left;
	line-height: 18px;
	height: auto;
}
.form-label{
	.inline-block();
	line-height: @baseLineHeight + 4px;
}
.form-label-normal, .form-label-long{
	text-align:left;
}
.page-form .form-label-normal{
	width:140px;
	height:auto;
	line-height:22px;
	margin-bottom:18px;
	word-break: break-all;
	word-wrap: break-word;
}
/**
 * 可视化表单元素class定义
 */
.form-field-container s{
	color: #f00;
}
.form-field-text, .form-field-text-small{
	width: 130px;
	/**
	 * 避免没有定义[type=text]的input样式错乱
	 */
	.inline-block();
	padding: 1px 4px;
	height: 18px;
	border: 1px solid @inputBorder;
}
.form-field-text-small{
	width:80px;
}
.form-field-select{
	width: 140px;
	height: @baseLineHeight + 4px;
	padding: 0;
}
input[type="radio"],input.form-field-checkbox{
	vertical-align: middle;
	margin-top: -4px; 
}
.textarea-container{
	min-height:70px;
	_height:70px;
}
.form-field-textarea{
	width: 290px;
	height: 48px;
}
.textarea-batch{
	width:138px;
}
.textarea-ps{
	width: 290px;
}
/**
 * Button样式
 */
input[type="file"]{
	padding: 4px 15px\9;
}
button,input[type="submit"],input[type="button"]{
	*overflow: visible;//IE6/7下padding起作用
}
.form-field-button{
	.inline-block();
	line-height: @baseLineHeight;
	padding: 4px 15px;
	.ie-button();
	font-size: 14px;
	font-weight: bold;
	color: @white;
	text-align: center;
	.buttonBackground(@btnPrimaryBackground, @btnPrimaryBackgroundHighlight);
	border: 1px solid #382B8E;
	.border-radius(@radius);
	@shadow: inset 0 0 2px rgba(255,255,255,.2), 0 0 2px rgba(0,0,0,.05);
  	.box-shadow(@shadow);
  	cursor: pointer;

  	// Give IE7 some love
  	.ie7-restore-left-whitespace();
}
.form-field-button:hover{
	background-position: 0 -15px;
}
.btn-small{
	padding: 2px 10px;
	*padding: 1px 10px;
	font-size: 12px;
	font-weight: normal;
	line-height: @baseLineHeight - 2px;
	color: @grayDark;
	.buttonBackground(@btnBackground, @btnBackgroundHighlight);
}
.btn-form-container{
	margin-left: 10px;
}
// Cross-browser Jank
// --------------------------------------------------

.ie-button{
	 // Firefox 3.6 only I believe
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  // IE7 has some default padding on button controls
  *padding-top: 3px;
  *padding-bottom: 3px;
}
/**
 * 分割线
 * 将分割线统一成一种，没有深浅之分了
 */
.hr-split,.hr-split-deep,.hr-split-light{
	border:0;
	border-top: 1px solid @hrBorder;
	margin-bottom: 5px;
}
/**
 * Grid相关
 */
.search-container{
	padding: 10px 20px 10px 0;
	padding-bottom:0;
}
.grid-command{
	margin-right: 10px;
}
/**
 * 搜索页展开收起
 */
.stretch-line{
	width: 100%;
	height: 17px;
	border:none;
	cursor:pointer;
	background:url(http://img03.taobaocdn.com/tps/i3/T1alHDXkhnXXaAVYw7-800-100.gif) no-repeat center 0;
}
.icon-up{
	background-position:center -20px;
}
.icon-up:hover{
	background-position:center -3px;
}
.icon-down{
	background-position:center -50px;
}
.icon-down:hover{
	background-position:center -33px;
}
/**
 * 不是通用的页面css,
 * 由于历史原因,
 * 个别页面还引用,
 * 暂时保留着,
 * 以后要迁移或删除
 * -----------------  BEGIN  ----------------------
 */
/**
 * 可视化表单元素class定义
 */
.batch-textarea{
	.textarea-batch();
	height: 48px;
}
/**
 * Button样式
 */
.form-button-blue,.form-button-blue2{
	.form-field-button();
}
.form-button-white{
	.form-field-button();
	color: @grayDark;
	.buttonBackground(@btnBackground, @btnBackgroundHighlight);
}
.form-button-blue:hover,.form-button-blue2:hover,.form-button-white:hover{
	background-position: 0 -15px;
}
a.form-button-blue{
	_width:90px;
	white-space:nowrap;
	word-break:keep-all
}
.form-table-title{
	margin-bottom: 5px;

	a:link{
		color: @grayDark;
	}
}
.add-more, .fileInputBtn{
	.form-field-button();
	.btn-small();
}
.add-more:hover, .fileInputBtn:hover{
	background-position: 0 -15px;
}
.add-link{
	.inline-block();
}
.form-button{
	margin-left: 10px;
}
/**
 * 老页面的分割线
 */
.form-group-split{
	border:0;
	border-top: 1px solid @hrBorder;
	padding-top: 5px;
}
/**
 * 表单验证样式
 */
.page-search .valid-text,
.page-form .valid-text,
.page-detail .valid-text,
.form-field-container .valid-text{
	display: block;
	margin-left: 122px;
}
.controls .valid-text{
	margin-left: 0;
}
.valid-text .estate{
	padding-left:22px;
	background:url('../images/msg_bg.png') no-repeat -9999px -9999px;
}
.controls .valid-text .estate
{
	padding-left:14px;
	background:url(http://img04.taobaocdn.com/tps/i4/T1F5VvXv4aXXbCoE..-14-14.png) no-repeat -9999px -9999px;
	.inline-block();
	height: 16px;
}
.valid-text .ok{
	visibility:hidden;
}
.valid-text .error{
	background-position: 3px 0px;
}
.controls .valid-text .error{
	background-position: 0px 2px;
}
.valid-text .tip{
	background-position: 3px -49px;
	color:#bbb;
}
/**
 * Table 表格样式
 */
.form-table-container{
	width: 700px;
	margin-bottom: 20px;
}
.form-table-content{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid @tableBorder;

	tr.form-table-header{
		//垂直渐变
		#gradient > .vertical(@tableBorderedHeaderBackground,@tableBorderedHeaderBackgroundHighlight);
	}
	.form-table-row{
		background-color: #fff;
	}
	.form-table-unit{
		padding: 4px 5px;
		border: 1px solid @tableBorder;
		vertical-align: top;
	}
}
.form-table-content{
	.form-field-container{
		float: none;
		.inline-block();
		min-height: 18px;
		_height: 18px;
	}
	.form-field-text, input[type="text"]{
		float: left;
	}
}
/**
 * Table中的验证样式
 */
.validation-float-tips{
	float:left;
	cursor:pointer;

	.estate{
		display: block;
		width: 14px;
		height: 18px;
		padding-top: 4px;
		margin-left: 2px;
		position: relative;
	}
	.estate-icon{
		display:block;
		background:url("../images/msg_bg.png") no-repeat -9999px -9999px;
		width:14px;
		height:14px;
	}
	.float-tip-box{
		position: absolute;
		border: 1px solid @tipWaringBorder;
		background-color: @tipWaringBackground;
		white-space: nowrap;
		.border-radius(@radius);
		padding: 3px;
		z-index: @zindexTooltip;
		top: -28px;
		left: -10px;

		.pointyTipShadow,.pointyTip{
			position: absolute;
			border: 6px solid;
			border-color: @tipWaringBorder transparent transparent transparent; 
			border-style: solid dashed dashed dashed;
			top: 24px;
			left: 10px;
		}
		.pointyTip{
			border-top-color: @tipWaringBackground;
			top: 23px;
		}
	}
}
.error .estate-icon{
	background-position:1px 1px;
}
.ok .estate-icon{
	background-position:1px -23px;
}
.tip .estate-icon{
	background-position:1px -48px;
}
/**
 * 城市下拉框
 */
.J_province,.J_city,.J_county{
	width: 90px;
	height: 22px;
	padding: 0;
}
/**
 * 切换标签
 */
.ks-switchable-nav{
	li{
		.inline-block();
		cursor: pointer;
		border: 1px solid @borderColor;
		margin-right: 3px;
		margin-bottom: -1px;
		padding: 5px 15px;
		background-color: @grayLighter;

		a:link{
			color: @grayDark;
		}
		a:visited{
			color: @grayDark;
		}
	}
	li.ks-active{
		background-color: @white;
		border-bottom-color: @white;
	}
}
.ks-switchable-content {
	padding:10px;
}
.tab-container{
	a{
		.inline-block();
		border: 1px solid @borderColor;
		margin-right: 3px;
		margin-bottom: -1px;
		padding: 5px 15px;
		background-color: @grayLighter;
	}
	a:link{
		color: @grayDark;
	}
	a:visited{
		color: @grayDark;
	}
	a.tab-btn-active{
		background-color: @white;
		border-bottom-color: @white;
	}
}
/**
 * 提示信息
 */
.form-field-label-warn,s.form-field-label-tips{
	color: @linkColorHover;
	text-decoration: none;
	line-height: 22px;
	.inline-block();
}
/**
 * 日历控件 calendar
 */
.page-search input.ks-select-calendar,
.page-form input.ks-select-calendar,
.page-detail input.ks-select-calendar,
{
	vertical-align: top;
}
/**
 * 区域选择框
 */
.select-list{
	overflow:hidden;
	clear:both;
	padding:5px 0 5px 0;
}
.select-item{
	float:left;
	width:87px;
}
/**
 * 物流跟踪
 */
.flow-after-dt{
	width:110px;
	float:left;
	height:22px;
}
.flow-after-dd{
	height:22px;
}
.flow-after-dt-small{
	width:120px;
	height:22px;
}
.flow-after-dd-small{
	position:relative;
	margin:-22px 0 0 65px;
}

/*公用按钮样式*/
.biggest-white-button,.big-white-button,.small-white-button,.big-blue-button,.small-blue-button,.biggest-blue-button{
			background:url('http://img02.taobaocdn.com/tps/i2/T1gIVoXzRdXXX1oE37-133-328.png') no-repeat;
			display:inline-block;
			cursor:pointer;			
		}
.biggest-white-button input,.big-white-button input,.small-white-button input,.big-blue-button input,.small-blue-button input,.biggest-blue-button input{
	border:none;
	background:none;
	cursor:pointer;
	vertical-align:middle;
}
/*超大白按钮*/
.biggest-white-button{
	background-position:0px -104px;			
}
.biggest-white-button:hover{
	background-position:0px -134px;	
}
.biggest-white-button input{			
	height:30px;
	width:133px;
	color:#333333;
	font-size:14px;
	font-weight:bold;				
}

/*大白按钮*/
.big-white-button{
	background-position:0px -164px;
}
.big-white-button:hover{
	background-position:0px -194px;	
}
.big-white-button input{			
	height:30px;
	width:100px;
	color:#333333;
	font-size:14px;
	font-weight:bold;	
}
/*小白按钮*/
.small-white-button{
	background-position:0px -224px;
}
.small-white-button:hover{
	background-position:0px -246px;	
}
.small-white-button input{			
	height:22px;
	width:68px;
	color:#333333;
	font-size:12px;				
}
/*超大蓝色按钮*/
.biggest-blue-button{
	background-position:0px -268px;
}
.biggest-blue-button:hover{
	background-position:0px -298px;	
}
.biggest-blue-button input{			
	height:30px;
	width:133px;
	color:white;
	font-weight:bold;
	font-size:14px;				
}
/*大蓝色按钮*/
.big-blue-button{
	background-position:0px -44px;	
}
.big-blue-button:hover{
	background-position:0px -74px;	
}
.big-blue-button input{			
	height:30px;
	width:100px;
	color:white;
	font-weight:bold;
	font-size:14px;
	text-align:center;		
}
/*小蓝色按钮*/
.small-blue-button{
	background-position:0px 0px;
}
.small-blue-button:hover{
	background-position:0px -22px;	
}
.small-blue-button input{
	height:22px;
	width:68px;
	color:white;
	font-size:12px;	
}

.valid-text .label{
    font-size: 12px;
}


/**
 * -----------------  END  -----------------------
 */