/*
* 页面流程图 样式css  基于step改良而来
* huangjia
* 2014-12-22
*/

/* ol基本设置 */
.flowstep {
    width: 100%;
    margin: 0 auto;
    padding: 20px 5px;
}
.flowstep ol {
    overflow: hidden;
    zoom: 1
}
.flowstep li {
    width: auto;
    float: left;
}

/* 通用节点 background icon */
.flowstep .step-no{
    cursor: pointer;
    height: 34px;
    line-height: 34px;
    font-family: 'arial black';
    color: #fff;
    font-size: 15px;
    background: url(http://img02.taobaocdn.com/imgextra/i2/650029601/TB2I1zEbpXXXXX.XpXXXXXXXXXX_!!650029601.png) no-repeat 50% -170px;
}

/* 第一个节点 background 特别设置 */
.flowstep  .step-first .step-no{
    background-position: 50% -238px;
}

/* 最后一个节点 background 特别设置 */
.flowstep  .step-last .step-no{
    background-position: 50% -68px;
}


.flowstep .step-no,
.flowstep .step-name,
.flowstep .step-marks{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    text-align: center;
}

.flowstep .step-name {
    padding: 0 3px 10px 3px;
    color: #888;
}
.flowstep .step-marks {
    white-space:pre-line;
    padding-top: 10px;
    color: rgba(195, 143, 61, 0.80);
}

/* 时间等备注 */
.flowstep .step-marks .time-first,
.flowstep .step-marks .time-last {
    display: inline-block;
    *display: inline;
    *zoom: 1
}
