.lp-dialog{
	background-color:@white;
	border:1px solid @dialogBorderColor;
	.border-radius(2px);
	.box-shadow(inset 0px 0px 0px 1px @white);
	position:absolute;

	.lp-contentbox {
		background-color:@dialogBackColor;
		margin:1px;
		padding:0;
	}
	.lp-stdmod-header{
		font-size:12px;
		font-weight:bold;
		color:@grayDark;
		cursor:move;
		.user-select(none);
	}
	.header-title{
		height: 22px;
		line-height: 22px;
		padding-left: 5px;
	}
	.lp-stdmod-body{
		background-color: @white;
		border:1px solid @dialogBorderColor;
		margin:0 4px;
		padding:20px;
		overflow-x:hidden;
	 	overflow-y:auto;
		position: relative;
	}
	.lp-stdmod-footer{
		text-align:center;
		.user-select(none);
		padding:0;
	}
	//icon
	a.lp-ext-close,a.lp-ext-collapse{
		position:absolute;
		right:6px;
		top:4px;
		width:16px;
		height:16px;
		text-decoration: none;
	    outline: none;
		overflow: hidden;
		cursor: pointer;
		text-decoration:none;
	}
	a.lp-ext-collapse{
		right: 21px;
		padding-right: 2px;
	}
	.lp-ext-close-x,.lp-ext-collapse-icon{
		display:block;
		overflow: hidden;
		font-size: 17px;
		_font-size: 14px;
		height: 14px;
		width: 14px;
		line-height: 14px;
		_vertical-align: middle;
		.border-radius(2px);
		text-align: center;
		cursor: pointer;
	}
	.lp-ext-collapse-icon{
		font-size:12px;
		line-height:12px;
	}
	.lp-stdmod-button{
		margin:5px 0 5px 20px;
	}
	.lp-stdmod-button-first{
		margin-left:0;
	}
	.lp-dialog-active{
		.opacity(80);
	}
}