
html{
	*overflow : hidden;
}
body{
	overflow : hidden;
	background-color:white;
	font-family:"SimSun";
}

.ks-hidden{
    display: none;
}

/** menu */
.menu-item,.menu-plus , .menu-minus,.menu-item-active,.menu-item-active .menu-p-content{
	background:url("http://img04.taobaocdn.com/tps/i4/T1GgTxXm4qXXaGyjny-500-188.png") no-repeat 0 0;
	overflow:hidden;
}
.menu-container {
	height: 100%;
	background-color: #f0f1f4;
	text-align: left;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0 3px;
}
.menu-ul li {
	float: left;
	width: 100%;
}
.menu-li {
	outline: none;
	margin: 5px 0;
}
.menu-first-container
{
	height:25px;
	margin-bottom:5px;
}
.menu-item {
	margin:0 1px;
	background-position: 0 15px;
	height: 17px;
	color: #636775;
	font-weight: bold;
	overflow: hidden;
	line-height:25px;
	vertical-align:middle;
	padding:8px 0 5px 5px;
}
.menu-font{
	float:left;
	overflow:hidden;
	height:14px;
	line-height:14px;
	display:block;
	_margin-top:-2px;
}
.menu-sp {
	border-top: 1px solid #94b2d9;
	border-bottom: 1px solid #c6d4e6;
}
.menu-ul-next {
	margin-top: 5px;
}
.menu-li a {
	display: block; 
	outline: medium none;
}
.menu-li a:link {
	text-decoration: none;
	color: #5c637b;
}
.menu-li a:hover {
	text-decoration: none;
	color: #414da7;
}
.menu-li a:active {
	text-decoration: none;
	color: #5c637b;
}
.menu-li a:visited {
	text-decoration: none;
	color: #5c637b;
}
.menu-plus , .menu-minus 
{
	width:9px;
	height:9px;
	overflow:hidden;
	display:block;
	float:left;
	margin-right:5px;
	margin-top: 2px;
}

.menu-plus {
	background-position: 0 -71px;
}
.menu-minus {
	background-position:  0 -30px;
}
.menu-item-next {
	height: 20px;
	text-indent: 24px;
	overflow: hidden;
	margin-bottom:5px;
}
.menu-item-active {
	height: 20px;
	text-indent: 24px;
	color: #fff;
	overflow: hidden;
	margin-bottom:5px;
	background-position:0 -130px;
}
.menu-p-content
{
	font-style: normal;
	text-align: left;
	overflow: hidden;
	height: 19px;
	line-height:22px;
	cursor:pointer;
	_line-height:20px;
}
.menu-item-active .menu-p-content {
	background-position: right -100px;
	display: block;
	margin: 0 1px;
	line-height:22px;
	_line-height:20px;
}
.menu-ul-next-close {
	display: none;
}

/*menu end**/

/** tab */
.tab-nav-bar{
	position:relative;
	width:100%;
	z-index: 1;
	overflow:hidden;
}
.tab-nav-bar .tab-nav-arror{
	display:block;
	position:absolute;
	text-decoration: none;
	overflow:hidden;
}
.tab-nav-bar .tab-nav-arror-active{
	cursor: pointer;
}
.tab-nav-bar .tab-nav-arror-left{
	left:0px;
}
.tab-nav-bar .tab-nav-arror-right{
	right:0px;
}
.tab-nav-bar .tab-nav-border{
	margin:0 23px;
}
.tab-nav-bar .tab-nav-con{
	margin:0 2px;
	overflow:hidden;
	position: relative;
}
.tab-nav-bar .tab-nav-con-inner{
	position:relative;
	left:0px;
}

.tab-nav-bar .tab-nav-item{
	float:left;
	display:inline;
	width:87px;
	height:21px;
	line-height:22px;
	margin-right:-12px;
	position:relative;
	cursor: pointer;
	padding:0 33px 0 20px;
	z-index:1;
	overflow:hidden;
	text-align: center;
}
.tab-nav-bar .tab-nav-active{
}

.tab-nav-bar .tab-nav-item .tab-nav-close{
	display:block;
	position:absolute;
	text-decoration: none;
	overflow:hidden;
	cursor: pointer;
}


.lpui-tab-con{
	width:100%;

}
.lpui-tab-con .lpui-tab-con-item{
	display:none;
}
.lpui-tab-con .lpui-tab-con-active{
	display:block;
}



/* tab-skin */
.tab-nav-bar,
.tab-nav-bar .tab-nav-arror,
.tab-nav-bar .tab-nav-item,
.tab-nav-bar .tab-nav-item .tab-nav-close,
.tab-nav-bar .tab-nav-border,
.tab-nav-bar .tab-nav-con{
	background:url('http://img03.taobaocdn.com/tps/i3/T1SLHBXaXmXXXF.Nbe-140-120.gif') no-repeat;
}
.tab-nav-bar{
	height:21px;
	background-position:0 25px;
	background-repeat: repeat-x;
	padding-top:5px;
}
.tab-nav-bar .tab-nav-arror{
	width:14px;
	height:13px;
	text-indent:-99px;
	top:9px;
}
.tab-nav-bar .tab-nav-arror-left{
	background-position:0px -60px;
	left:5px;
}
.tab-nav-bar .tab-nav-arror-right{
	background-position:-19px -60px;
	right:5px;
}
.tab-nav-bar .tab-nav-arror-active.tab-nav-arror-left{
	background-position:-40px -60px;
}
.tab-nav-bar .tab-nav-arror-active.tab-nav-arror-right{
	background-position:-59px -60px;
}
.tab-nav-bar .tab-nav-arror-active.tab-nav-arror-left:hover{
	background-position:-80px -60px;
}
.tab-nav-bar .tab-nav-arror-active.tab-nav-arror-right:hover{
	background-position:-99px -60px;
}

.tab-nav-bar .tab-nav-border{
	background-position:0 -100px;
	background-repeat: repeat-x;
}
.tab-nav-bar .tab-nav-con{
	background-position:0 20px;
	background-repeat: repeat-x;
	background-color: #E8E9EF;
}
.tab-nav-bar .tab-nav-item{
	color:#263E74;
	background-position:0 -4px;
}
.tab-nav-bar .tab-nav-active{
	background-position:0 -29px;
	z-index:2;
}
.tab-nav-bar .tab-nav-item .tab-nav-close{
	width:13px;
	height:13px;
	text-indent:-99px;
	top:4px;
	right:19px;
	background-position:0 -80px;
}
.tab-nav-bar .tab-nav-item .tab-nav-close:hover{
	background-position:-20px -80px;
}

/**tab end*/
#header{
	background-color:#1B3160;
	height:30px;
    line-height: 30px;
	width:100%;
	overflow : hidden;
}
#header,.main-nav {
	background:url('http://assets.lp.alibaba.com/s/lplib/lpassert/images/lp-bg.png') no-repeat center 0 #204077;
}


/* 全站页头样式 */
.hf-title{
    float:left;
    margin-left:12px;
}
.hf-icon{
    color: #fc6800;
    font-size: 23px;
}


.lp-title-text{
	font-family:"Microsoft YaHei";
	font-size:16px;
	margin-left: 5px;
	color:#b5afcf;
}
.lp-title-port{
	font-family: "Arial";
	font-size:20px;
	color:#dae4f1;
}
.lp4-log{
	color:#C1D5EC;
	float:right;
    padding-right: 20px;
}
.lp4-log a{
	color:#C1D5EC
}
.lp4-log-user{
	font-style:bold;
	
}
.lp4-log-tip{
	background-color: #FEE763;
	color: #000;
	padding: 0 2px;
    white-space: nowrap;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin:0 5px 0 3px
}

.lp4-log-quit{
	color:#C1D5EC;
	padding-left:8px;
}
#content{
	width:100%;
}

.main-nav{
	height:40px;
	background-position:center -30px;
	overflow: hidden;
	position:relative;
}

.main-nav .nav-list{
	/*margin-right:135px;*/
	border-bottom:1px solid #FFF;
	overflow: hidden;
	border-width:0;
}

.nav-item-mask{
	display:none;
	width:128px;
	height: 25px;
	position: absolute;
	background-color: white;
	top: 8px;
	opacity: 0.15;
	filter: Alpha(opacity=15);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border:1px solid #333;
}

.nav-item{
	overflow:hidden;
	font-size:14px;
	color:white;
	position:relative;			
	width:130px;
	padding:6px 0 0 8px;
	cursor:pointer;
}
.nav-list .nav-item{
	float:left;
	color:#D4D4D4;
}

.nav-item-inner,.lp4-hide-list  .lp-hover{
	background:url(http://img04.taobaocdn.com/tps/i4/T1tZ38XmJeXXXp89vi-806-614.png) no-repeat 0 0  transparent;
}

.nav-list .lp-hover{
	background-position:0x -50px;
}
.lp4-hide-list  .lp-hover{
	background-position:8px -40px;
}

.nav-item-inner{
	padding: 4px 0 0 31px;
	height: 30px;
	border:1px solid transparent;
	_border:none;
}

.lp4-hide-list{
	position:absolute;
	width: 160px;
	overflow: hidden;
	z-index:10;
	border:1px solid #C3C3D6;
	border-top:none;
	padding:10px 0 0;
	background-color:#E8E9EE;
}

.lp4-hide-list .nav-item{
	float:none;
	padding:0;
	width:158px;

	border: 1px solid white;
	border-width: 0 1px;
}

.lp4-hide-list .nav-item:last-child{
	-webkit-border-radius: 0 0 2px 2px ;
	-moz-border-radius: 0 0 2px 4px;
	border-radius: 0 0 2px 2px;
	padding-bottom:10px;
	border-bottom: 1px solid white;
}
.lp4-hide-list .lp-last{
	padding-top:6px;
	background-color:transparent;
	
}

.lp4-hide-list .lp-last{
	display:none;
}
.lp4-hide-list .lp-last .nav-item-inner{
	visibility: hidden;
	height:23px;
}

.lp4-hide-list .lp-hover .nav-item-inner{
	background-color:#e0e6fc;
	border:1px solid #a9b9f5;
	border-radius:2px;
}

.lp4-hide-list .nav-item-inner{
	background-color:#E8E9EE;
	font-size:12px;
	color:#666;
	height:23px;
	margin: 0 5px;
}
.nav-list .lp-hover .nav-item-mask,.nav-list .lp-last .nav-item-mask{
	display:block;
}
.nav-list .lp-selected .nav-item-inner{
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
	border:1px solid #FFF;
	background-color:#E8E9EE;
	color:#43478e;
	font-weight:bold;
	height:30px;
}

.nav-list .lp-selected .nav-item-mask{
	display:none;
}

/**一级类目**/

/** 权限 **/
.lp4-hide-list .nav-permission,.lp-selected .nav-permission{
	background-position:4px -124px;
}

.nav-permission{
	background-position:4px -174px;
}

/**仓库**/
.lp4-hide-list .nav-storage,.lp-selected .nav-storage{
	background-position:-444px -127px;
}
.nav-storage{
	background-position:-444px -176px;
}

/**库存**/
.lp-selected .nav-inventory,.lp4-hide-list .nav-inventory{
	background-position:-443px -324px;
}
.nav-inventory{
	background-position:-444px -375px;
}

/**用户**/
.lp-selected .nav-user,.lp4-hide-list .nav-user{
	background-position:-144px -224px;
}
.nav-user{
	background-position:-144px -274px;
}

/**包裹营销**/
.lp-selected .nav-parcel,.lp4-hide-list .nav-parcel{
	background-position:-594px -324px;
}
.nav-parcel{
	background-position:-594px -374px;
}


/**订单**/
.lp-selected .nav-order,.lp4-hide-list .nav-order{
	background-position:-144px -126px;
}
.nav-order{
	background-position:-144px -176px;
}

/**商品**/
.lp-selected .nav-product,.lp4-hide-list .nav-product{
	background-position:-444px -427px;
}
.nav-product{
	background-position:-444px -477px;
}
/**供应商，商家**/
.lp-selected .nav-supplier, .lp4-hide-list .nav-supplier{
	background-position:-594px -427px;
}
.nav-supplier{
	background-position:-594px -476px;
}

/**费用**/
.lp-selected .nav-cost,.lp4-hide-list .nav-cost{
	background-position:-294px -324px;
}
.nav-cost{
	background-position:-294px -374px;
}

/**监控**/
.lp-selected .nav-monitor,.lp4-hide-list .nav-monitor{
	background-position:-144px -324px;
}
.nav-monitor{
	background-position:-144px -374px;
}
/**聚划算**/
.lp-selected .nav-gather,.lp4-hide-list .nav-gather{
	background-position:4px -224px;
}
.nav-gather{
	background-position:4px -274px;
}
/**铺货**/
.lp-selected .nav-distribution,.lp4-hide-list .nav-distribution{
	background-position:-444px -224px;
}
.nav-distribution{
	background-position:-444px -274px;
}

/**货品**/
.lp-selected .nav-goods,.lp4-hide-list .nav-goods{
	background-position:-594px -124px;
}

.nav-goods{
	background-position:-594px -174px;
}

/**报名**/
.lp-selected .nav-register,.lp4-hide-list .nav-register{
	background-position:-594px -224px;
}
.nav-register{
	background-position:-594px -274px;
}

/**营销看板**/
.lp-selected .nav-marketing,.lp4-hide-list .nav-marketing{
	background-position:6px -325px;
}
.nav-marketing{
	background-position:6px -375px;
}

/**包裹**/
.lp-selected .nav-package,.lp4-hide-list .nav-package{
	background-position:-594px -324px;
}
.nav-package{
	background-position:-594px -374px;
}

/**首页**/
.lp-selected .nav-home,.lp4-hide-list .nav-home{
	background-position:8px -426px;
}
.nav-home{
	background-position:8px -476px;
}

/**商品认证**/
.lp-selected .nav-product-certified,.lp4-hide-list .nav-product-certified{
	background-position:4px -524px;
}
.nav-product-certified{
	background-position:4px -574px;
}

/**QC认证**/
.lp-selected .nav-quality-certified,.lp4-hide-list .nav-quality-certified{
	background-position:-144px -524px;
}
.nav-quality-certified{
	background-position:-144px -574px;
}

/**商家认证**/
.lp-selected .nav-supplier-certified,.lp4-hide-list .nav-supplier-certified{
	background-position:-294px -524px;
}
.nav-supplier-certified{
	background-position:-294px -574px;
}

/**认证公司**/
.lp-selected .nav-certification,.lp4-hide-list .nav-certification{
	background-position:-444px -524px;
}
.nav-certification{
	background-position:-444px -574px;
}

/**样品**/
.lp-selected .nav-sample,.lp4-hide-list .nav-sample{
	background-position:-594px -524px;
}
.nav-sample{
	background-position:-594px -575px;
}

/**供应链**/
.lp-selected .nav-supplychain,.lp4-hide-list .nav-supplychain{
	background-position:-747px -125px;
}
.nav-supplychain{
	background-position:-747px -178px;
}

.inform{
	width:135px;
	float:right;
	padding-top:10px;
	cursor:pointer;
	display:none;
}


.inform-title, .lp-up, .lp-down, .lp-hide-current{
	background:url('../images/nav_icon.png') no-repeat 0 0  transparent;
	_background:url('../images/nav_icon_ie6.png') no-repeat 0 0  transparent;
}
.inform-title{
	background-position: -300px -100px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	height: 32px;
	padding-left: 38px;
	padding-top: 5px;
}

.inform-icon{
	display: block;
	float: right;
	height: 10px;
	margin-top: 5px;
	padding-right: 10px;
	width: 10px;
}

 .lp-up{
	background-position: 0 -150px;
}

 .lp-down{
	background-position: -150px -150px;
}

.nav-list .lp-hide-current{
	background-position: 0 -145px;
	margin-left:5px;
}

.lp-selected .lp-hide-current{
	background-position: 0 -255px;
}

.lp4-hide-list .lp-hide-current{
	background-position: -150px -145px;
	margin-left:5px;
}

.lp4-tab-content{
	width:100%;
	height:100%;
}
.lp4-tab-item{
	width:100%;
	
}
.lp4-tab-item-inner{
	width:100%;
	height:430px;
}

.lp4-second-nav,.lp4-second-tree,.lp4-inner-tab{
	height: 100%;
}
.lp4-second-tree{
	width:150px;
}

.lp4-second-nav{
	float: left;
	width: 150px;
	/*padding-top:5px;*/
	position:relative;
}
.lp4-second-nav{
	background-color:#E8E9EE;
}

.lp4-second-nav .menu-container{
	background-color:transparent;
}

.lp-collapse .lp4-second-nav{
	width:5px;
}
.lp-collapse .lp4-second-tree{
	width:5px;
	background-color:#E8E9EE;
	overflow:hidden;
}

.lp-collapse .menu-container{
	display:none;
}
.lp4-inner-tab{	
	margin-left: 150px;
}

.lp4-inner-tab .tab-nav-bar{
	background-color:#E8E9EE;
}

.lp-collapse .lp4-inner-tab{
	margin-left: 5px;
}
.lp-second-slib-con{
	position:absolute;
	top:0;
	right:-6px;
	height:100%;
	width:7px;
	overflow:hidden;
}
.lp-second-slib{
	position:absolute;
	height:100%;
	width:6px;
	cursor:pointer;
	top:25px;
	border-left:1px solid #C3C3D6;
	border-radius: 2px;
	background:url('http://assets.lp.alibaba.com/s/lplib/lpassert/images/left-slib.gif') no-repeat 0 center  transparent;
}

.lp-collapse .lp-second-slib{
	background-position:-6px center;
}

.scm-permission{
	background:url(http://img02.taobaocdn.com/tps/i2/T1L3iMXfBfXXXXXXXX-10-14.png) 0px 15px no-repeat;
	padding-left:12px;
}
.scm-permission a{
	color:#fff;
}

.system-notice {
    color: #FEE763;
    float: left;
    font-weight: bold;
    height: 37px;
    line-height: 37px;
    padding-left: 20px;
    width: 500px;
}
.system-notice a{
    color: #C1D5EC;
}


/* 覆盖bui样式 */ /* 更改tab样式 */
.tab-nav-inner{
    background-color: #E8E9EF;
}
.bui-tab-force .tab-nav-arrow{
    display: block;
}
.tab-nav-arrow{
    top: 8px;
}
.bui-nav-tab-item .tab-item-inner{
    margin: 1px 20px 0 5px;
}
.bui-nav-tab-item .l{
    background-position: 0 -3px;
}
.bui-nav-tab-item .r{
    background-position: right -3px;
}

.tab-nav-actived .l{
    background-position: 0 -28px;
}
.tab-nav-actived .r{
    background-position: right -28px;
}

/* 右侧可滚动点击 高亮图标 */
.arrow-left-active .arrow-left{
    background-position: -81px -60px;
}